<html>
	<title> 
		<h1>FAST NU Computer Science Department</h1>
	</title>
	<body>
		<h1>FAST NU Computer Science Department - All Reports</h1>
		<h2>QEC Reports</h2>
		<ul>
			<li><a href='/reports/qec/courselog'>Weekly Progress Report</a></li>
			<li>Faculty CV</li>
		</ul>
		<h2>NCEAC Reports</h2>
		<ul>
			<li><a href='/reports/nceac/courselog'>Course Log (NCEAC.DOC.008) </a></li>
			<li><a href='/reports/nceac/coursedesc'>Course Descripion (NCEAC.FORM.001-C)</a></li>
			<li><a href='/reports/nceac/faculty-profile'>Faculty Profile</a></li>
		</ul>
		<h2>Internals</h2>
		<ul>
			<li>Instructor CV (Please send nauman an email for this)</li>
			<li><a href='/reports/internal/projects/milestone'>Project Milestone Evaluation</a></li>
		</ul>
		<h2>Meta</h2>
		<ul>
			<li><a href='/admin/logout'>Logout</a></li>
		</ul>
	</body>
</html>