<html>
	<title>FAST NU Computer Science Department</title>
	<style lang="css">
	form ul, form li{
				border:0; margin:0; padding:0; list-style:none; 
			}
			form li{
				clear:both;
				list-style:none;
				padding-bottom:10px;
			}
			form input {
				float:left;
				clear: left;
			}	
			form label{
				clear: left; 
				width:200px;
				float:left;
			}
	</style>
	<body>
		<h1>FAST NU Computer Science Department - NCEAC Course Description</h1>
		<strong>Please select the course to generate description (Form NCEAC.FORM.001-C) for.</strong>

		<div class='form'>
			<form method='post'>
				{%csrf_token%}
				{{form.as_ul}}
				<input type='submit' value='Generate' />
			</form>
		</div>
		<h2 style="clear:both">Meta</h2>
		<ul>
			<li><a href='/admin/logout'>Logout</a></li>
		</ul>
	</body>
</html>